<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>49727F8E-4A42-47BE-B614-4E5FF671BFF9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Nje-cy.ss01</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
