<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7DB6B34A-52E1-41BC-8402-6E1DFA5E503C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yusbig-cy</key>
      <integer>14</integer>
    </dict>
  </dict>
</plist>
