<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8628F987-14BA-4AA1-BB2E-40A820AD7EAF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yusbig-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
