<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>08D751B8-7B76-4A99-B558-9080B0E097E8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ve-cy.loclBGR</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
