<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6E5203D2-1789-48C9-BAD2-5ADDE1C69877</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.el-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
