<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9B0A816C-E4D3-400B-957E-FA8E5642C1AC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.haabkhasian-cy</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
