<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>38043A59-473E-4206-9F00-5AB9EBBCA6BA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hahook-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
