<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7AC32B45-F4E0-492B-8323-09B2D2AE7945</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dzeabkhasian-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
