<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>97A64DD1-B19E-4C99-B85C-DFE41BF462C0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy.loclBGR</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
