<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0B8BBEDC-10C3-4279-86B3-38E5D78486A6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
