<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>789169B0-52BF-4064-8E25-6AC3FDC1F9B7</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.elhook-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.enlefthook-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gestrokehook-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hastroke-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.reversedze-cy</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ve-cy.loclBGR</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
