<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A31D748E-9618-4B5F-A3C2-52BE9610DB46</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ze-cy</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
