<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>848218F1-E584-457F-B17C-A475D3F9A4EA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.M.ss01</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W.ss01</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae.ss01</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e.ss01</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek.ss01</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oe</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oe.ss01</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w.sc.ss01</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
