<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4F4A0EDD-E2B6-4E79-93B1-F1499DD62CA8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.semisoftsign-cy.ss01</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
