<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C5C56E84-4F06-46E7-9EBE-275EA8B77E0A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.elhook-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.enlefthook-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gestrokehook-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hastroke-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.reversedze-cy</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ve-cy.loclBGR</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
