absl-py==0.9.0
appdirs==1.4.3
attrs==19.3.0
beautifulsoup4==4.8.2
booleanOperations==0.9.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
commandlines==0.4.1
compreffor==0.5.0
cu2qu==1.6.6
defcon==0.6.0
Deprecated==1.2.7
Flask==1.1.1
font-v==0.7.1
fontbakery==0.7.17
fontdiffenator==0.9.1
fontmake==2.0.8
fontMath==0.5.2
fonttools==4.2.4
freetype-py==2.1.0.post1
fs==2.4.11
gfdiffbrowsers==0.1.6
gftools==0.3.1
gitdb2==2.0.6
GitPython==3.0.5
glyphsLib==5.1.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.0
lxml==4.4.3
MarkupSafe==1.1.1
opentype-sanitizer==8.0.0.post2
Pillow==7.0.0
protobuf==3.11.2
pybrowserstack-screenshots==0.1
pycairo==1.19.0
pyclipper==1.1.0.post3
PyGithub==1.45
PyJWT==1.7.1
pytz==2019.3
requests==2.22.0
simplejson==3.17.0
six==1.14.0
smmap2==2.0.5
soupsieve==1.9.5
tabulate==0.8.6
ttfautohint-py==0.4.3
ufo2ft==2.11.1
ufoLib2==0.5.1
ufolint==0.4.1
uharfbuzz==0.5.1.post2
unicodedata2==12.1.0
Unidecode==1.1.1
urllib3==1.25.8
Werkzeug==0.16.1
wrapt==1.11.2
