<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>67F4E7B2-099A-41A3-92F2-F0F567FD6002</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lslash</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
