<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D4E9A8E9-FFA3-4094-A561-642807E1672E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy.ss01</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
