<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7F971B80-BF24-4CC6-AF5D-AFC3F23F5EA1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy.loclBGR</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy.ss01</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
