<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>53C1B974-4333-49D1-913A-0B08290C7223</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hahook-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
