<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>17AD9BAE-E7F6-4B95-A5AF-7D8E48BFDFA1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.er-cy.ss01</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
