<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1A70CDF6-6197-483C-B15C-B0FD09D0C13F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ze-cy.loclBGR</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
