<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A0DC645A-488E-4F0A-BCA2-47FD34735725</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Cheabkhasian-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
