<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CE1A4290-D1EF-4876-B203-F830F384E2FB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.er-cy.ss01</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
