<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FCDE7B18-12F2-4604-964C-430E96E700F5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ka-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
