<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9D9B5726-C3BE-432D-9C49-670EC7764BEC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dzeabkhasian-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
