<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F1AD7050-25BB-4F6B-B44B-BCEF743FFEE1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.semisoftsign-cy.ss01</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yat-cy.ss01</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
