<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Jacques</string>
      <string>glyphs.J_acques</string>
    </array>
    <array>
      <string>Jacques.background</string>
      <string>glyphs.J_acques.background</string>
    </array>
    <array>
      <string>jacques</string>
      <string>glyphs.jacques</string>
    </array>
    <array>
      <string>jacques.background</string>
      <string>glyphs.jacques.background</string>
    </array>
    <array>
      <string>Oct 27 17, 17:23</string>
      <string>glyphs.O_ct 27 17, 17_23</string>
    </array>
    <array>
      <string>Oct 27 17, 17:23.background</string>
      <string>glyphs.O_ct 27 17, 17_23.background</string>
    </array>
    <array>
      <string>Oct 27 17, 17:26</string>
      <string>glyphs.O_ct 27 17, 17_26</string>
    </array>
    <array>
      <string>Oct 27 17, 17:26.background</string>
      <string>glyphs.O_ct 27 17, 17_26.background</string>
    </array>
    <array>
      <string>Oct 24 17, 13:02</string>
      <string>glyphs.O_ct 24 17, 13_02</string>
    </array>
    <array>
      <string>Oct 24 17, 13:02.background</string>
      <string>glyphs.O_ct 24 17, 13_02.background</string>
    </array>
    <array>
      <string>Oct 20 17, 10:46</string>
      <string>glyphs.O_ct 20 17, 10_46</string>
    </array>
    <array>
      <string>Oct 25 17, 18:02</string>
      <string>glyphs.O_ct 25 17, 18_02</string>
    </array>
    <array>
      <string>Oct 25 17, 18:02.background</string>
      <string>glyphs.O_ct 25 17, 18_02.background</string>
    </array>
    <array>
      <string>Oct 24 17, 12:44</string>
      <string>glyphs.O_ct 24 17, 12_44</string>
    </array>
    <array>
      <string>Oct 20 17, 13:11</string>
      <string>glyphs.O_ct 20 17, 13_11</string>
    </array>
    <array>
      <string>Oct 20 17, 16:18</string>
      <string>glyphs.O_ct 20 17, 16_18</string>
    </array>
    <array>
      <string>Oct 24 17, 17:47</string>
      <string>glyphs.O_ct 24 17, 17_47</string>
    </array>
    <array>
      <string>Oct 24 17, 22:59</string>
      <string>glyphs.O_ct 24 17, 22_59</string>
    </array>
    <array>
      <string>Oct 24 17, 22:59.background</string>
      <string>glyphs.O_ct 24 17, 22_59.background</string>
    </array>
    <array>
      <string>Oct 23 17, 12:06</string>
      <string>glyphs.O_ct 23 17, 12_06</string>
    </array>
    <array>
      <string>Oct 23 17, 12:06.background</string>
      <string>glyphs.O_ct 23 17, 12_06.background</string>
    </array>
    <array>
      <string>Oct 20 17, 16:07</string>
      <string>glyphs.O_ct 20 17, 16_07</string>
    </array>
    <array>
      <string>Oct 20 17, 16:07.background</string>
      <string>glyphs.O_ct 20 17, 16_07.background</string>
    </array>
    <array>
      <string>Oct 20 17, 16:09</string>
      <string>glyphs.O_ct 20 17, 16_09</string>
    </array>
    <array>
      <string>Oct 20 17, 16:09.background</string>
      <string>glyphs.O_ct 20 17, 16_09.background</string>
    </array>
    <array>
      <string>Oct 20 17, 16:38</string>
      <string>glyphs.O_ct 20 17, 16_38</string>
    </array>
    <array>
      <string>Oct 20 17, 16:38.background</string>
      <string>glyphs.O_ct 20 17, 16_38.background</string>
    </array>
    <array>
      <string>Oct 24 17, 20:44</string>
      <string>glyphs.O_ct 24 17, 20_44</string>
    </array>
    <array>
      <string>Oct 24 17, 20:44.background</string>
      <string>glyphs.O_ct 24 17, 20_44.background</string>
    </array>
    <array>
      <string>Oct 24 17, 21:08</string>
      <string>glyphs.O_ct 24 17, 21_08</string>
    </array>
    <array>
      <string>Oct 20 17, 18:03</string>
      <string>glyphs.O_ct 20 17, 18_03</string>
    </array>
    <array>
      <string>Oct 20 17, 18:03.background</string>
      <string>glyphs.O_ct 20 17, 18_03.background</string>
    </array>
    <array>
      <string>Oct 19 17, 16:33</string>
      <string>glyphs.O_ct 19 17, 16_33</string>
    </array>
    <array>
      <string>Oct 17 17, 16:22</string>
      <string>glyphs.O_ct 17 17, 16_22</string>
    </array>
    <array>
      <string>Oct 17 17, 16:22.background</string>
      <string>glyphs.O_ct 17 17, 16_22.background</string>
    </array>
    <array>
      <string>Oct 24 17, 15:22</string>
      <string>glyphs.O_ct 24 17, 15_22</string>
    </array>
    <array>
      <string>Oct 21 17, 15:16</string>
      <string>glyphs.O_ct 21 17, 15_16</string>
    </array>
    <array>
      <string>Oct 21 17, 15:16.background</string>
      <string>glyphs.O_ct 21 17, 15_16.background</string>
    </array>
    <array>
      <string>Oct 24 17, 10:17</string>
      <string>glyphs.O_ct 24 17, 10_17</string>
    </array>
    <array>
      <string>Oct 24 17, 10:59</string>
      <string>glyphs.O_ct 24 17, 10_59</string>
    </array>
    <array>
      <string>Oct 24 17, 10:59.background</string>
      <string>glyphs.O_ct 24 17, 10_59.background</string>
    </array>
    <array>
      <string>Oct 24 17, 12:22</string>
      <string>glyphs.O_ct 24 17, 12_22</string>
    </array>
    <array>
      <string>Oct 24 17, 12:22.background</string>
      <string>glyphs.O_ct 24 17, 12_22.background</string>
    </array>
    <array>
      <string>Oct 24 17, 12:57</string>
      <string>glyphs.O_ct 24 17, 12_57</string>
    </array>
    <array>
      <string>Oct 24 17, 12:57.background</string>
      <string>glyphs.O_ct 24 17, 12_57.background</string>
    </array>
    <array>
      <string>Oct 21 17, 15:22</string>
      <string>glyphs.O_ct 21 17, 15_22</string>
    </array>
    <array>
      <string>Oct 21 17, 15:22.background</string>
      <string>glyphs.O_ct 21 17, 15_22.background</string>
    </array>
    <array>
      <string>Oct 25 17, 16:48</string>
      <string>glyphs.O_ct 25 17, 16_48</string>
    </array>
    <array>
      <string>Oct 25 17, 16:48.background</string>
      <string>glyphs.O_ct 25 17, 16_48.background</string>
    </array>
    <array>
      <string>Oct 25 17, 16:49</string>
      <string>glyphs.O_ct 25 17, 16_49</string>
    </array>
    <array>
      <string>Oct 25 17, 16:49.background</string>
      <string>glyphs.O_ct 25 17, 16_49.background</string>
    </array>
    <array>
      <string>Oct 21 17, 15:29</string>
      <string>glyphs.O_ct 21 17, 15_29</string>
    </array>
    <array>
      <string>Oct 19 17, 16:53</string>
      <string>glyphs.O_ct 19 17, 16_53</string>
    </array>
    <array>
      <string>Oct 19 17, 16:55</string>
      <string>glyphs.O_ct 19 17, 16_55</string>
    </array>
    <array>
      <string>Oct 19 17, 01:05</string>
      <string>glyphs.O_ct 19 17, 01_05</string>
    </array>
    <array>
      <string>Oct 19 17, 01:05.background</string>
      <string>glyphs.O_ct 19 17, 01_05.background</string>
    </array>
    <array>
      <string>Oct 24 17, 13:24</string>
      <string>glyphs.O_ct 24 17, 13_24</string>
    </array>
    <array>
      <string>Oct 24 17, 13:24.background</string>
      <string>glyphs.O_ct 24 17, 13_24.background</string>
    </array>
  </array>
</plist>
