<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F1C2C0BF-A03C-452C-A4A5-88AB8E6C66AD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.er-cy.ss01</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
