<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>62BC611A-197E-4283-B8D8-99F8E3DF5852</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ze-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
