<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B7272C21-3793-4A1B-A419-9172A6DC0824</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.yusbig-cy</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
