<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Jacques</string>
      <string>glyphs.J_acques</string>
    </array>
    <array>
      <string>Jaques</string>
      <string>glyphs.J_aques</string>
    </array>
    <array>
      <string>Oct 24 17, 17:47</string>
      <string>glyphs.O_ct 24 17, 17_47</string>
    </array>
    <array>
      <string>Oct 24 17, 22:59</string>
      <string>glyphs.O_ct 24 17, 22_59</string>
    </array>
    <array>
      <string>Oct 24 17, 20:44</string>
      <string>glyphs.O_ct 24 17, 20_44</string>
    </array>
    <array>
      <string>Oct 24 17, 21:08</string>
      <string>glyphs.O_ct 24 17, 21_08</string>
    </array>
    <array>
      <string>Oct 19 17, 16:33</string>
      <string>glyphs.O_ct 19 17, 16_33</string>
    </array>
    <array>
      <string>Oct 17 17, 16:22</string>
      <string>glyphs.O_ct 17 17, 16_22</string>
    </array>
    <array>
      <string>Oct 19 17, 16:53</string>
      <string>glyphs.O_ct 19 17, 16_53</string>
    </array>
    <array>
      <string>Oct 19 17, 16:55</string>
      <string>glyphs.O_ct 19 17, 16_55</string>
    </array>
    <array>
      <string>Oct 19 17, 01:05</string>
      <string>glyphs.O_ct 19 17, 01_05</string>
    </array>
  </array>
</plist>
