<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B3E26DFD-A85E-41FA-8DFA-C21FF497DAFD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.nje-cy.ss01</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
