<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5E310726-4480-4859-84E3-3E0C5934550B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hahook-cy</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
