<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>40041767-DF16-43CD-A521-C1AA2A171382</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hardsign-cy.loclBGR</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hardsign-cy.ss01</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
