<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>50E8B435-E973-4465-8247-F996E57CFC8A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ghemiddlehook-cy</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
