<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3AE48D03-B90C-4463-B550-598930171300</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.lje-cy.ss01</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
