<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Regular Aug 12 16, 13:13</string>
      <string>glyphs.R_egular A_ug 12 16, 13_13</string>
    </array>
    <array>
      <string>Thin Aug 12 16, 13:14</string>
      <string>glyphs.T_hin A_ug 12 16, 13_14</string>
    </array>
    <array>
      <string>Nov 24 16, 19:29</string>
      <string>glyphs.N_ov 24 16, 19_29</string>
    </array>
    <array>
      <string>Oct 13 17, 08:26</string>
      <string>glyphs.O_ct 13 17, 08_26</string>
    </array>
    <array>
      <string>Oct 16 17, 08:13</string>
      <string>glyphs.O_ct 16 17, 08_13</string>
    </array>
    <array>
      <string>Jacques</string>
      <string>glyphs.J_acques</string>
    </array>
    <array>
      <string>jacques</string>
      <string>glyphs.jacques</string>
    </array>
    <array>
      <string>Bold</string>
      <string>glyphs.B_old</string>
    </array>
    <array>
      <string>Oct 27 17, 17:22</string>
      <string>glyphs.O_ct 27 17, 17_22</string>
    </array>
    <array>
      <string>Thin Aug 12 16, 01:50</string>
      <string>glyphs.T_hin A_ug 12 16, 01_50</string>
    </array>
    <array>
      <string>Regular Aug 12 16, 01:51</string>
      <string>glyphs.R_egular A_ug 12 16, 01_51</string>
    </array>
    <array>
      <string>Oct 27 17, 17:26</string>
      <string>glyphs.O_ct 27 17, 17_26</string>
    </array>
    <array>
      <string>Regular Aug 11 16, 02:34</string>
      <string>glyphs.R_egular A_ug 11 16, 02_34</string>
    </array>
    <array>
      <string>Feb 2 17, 15:55</string>
      <string>glyphs.F_eb 2 17, 15_55</string>
    </array>
    <array>
      <string>Oct 24 17, 12:56</string>
      <string>glyphs.O_ct 24 17, 12_56</string>
    </array>
    <array>
      <string>Oct 6 17, 18:24</string>
      <string>glyphs.O_ct 6 17, 18_24</string>
    </array>
    <array>
      <string>Sep 14 17, 15:09</string>
      <string>glyphs.S_ep 14 17, 15_09</string>
    </array>
    <array>
      <string>centro más bajo</string>
      <string>glyphs.centro más bajo</string>
    </array>
    <array>
      <string>Oct 6 17, 16:35</string>
      <string>glyphs.O_ct 6 17, 16_35</string>
    </array>
    <array>
      <string>Oct 20 17, 10:46</string>
      <string>glyphs.O_ct 20 17, 10_46</string>
    </array>
    <array>
      <string>Oct 25 17, 18:01</string>
      <string>glyphs.O_ct 25 17, 18_01</string>
    </array>
    <array>
      <string>Sep 26 17, 12:41</string>
      <string>glyphs.S_ep 26 17, 12_41</string>
    </array>
    <array>
      <string>Oct 6 17, 20:28</string>
      <string>glyphs.O_ct 6 17, 20_28</string>
    </array>
    <array>
      <string>Oct 6 17, 15:43</string>
      <string>glyphs.O_ct 6 17, 15_43</string>
    </array>
    <array>
      <string>Oct 6 17, 15:45</string>
      <string>glyphs.O_ct 6 17, 15_45</string>
    </array>
    <array>
      <string>Sep 13 17, 16:06</string>
      <string>glyphs.S_ep 13 17, 16_06</string>
    </array>
    <array>
      <string>Sep 13 17, 16:51</string>
      <string>glyphs.S_ep 13 17, 16_51</string>
    </array>
    <array>
      <string>Sep 16 17, 16:14</string>
      <string>glyphs.S_ep 16 17, 16_14</string>
    </array>
    <array>
      <string>Sep 16 17, 17:35</string>
      <string>glyphs.S_ep 16 17, 17_35</string>
    </array>
    <array>
      <string>Oct 6 17, 18:57</string>
      <string>glyphs.O_ct 6 17, 18_57</string>
    </array>
    <array>
      <string>Oct 6 17, 19:04</string>
      <string>glyphs.O_ct 6 17, 19_04</string>
    </array>
    <array>
      <string>Maria</string>
      <string>glyphs.M_aria</string>
    </array>
    <array>
      <string>Oct 6 17, 19:14</string>
      <string>glyphs.O_ct 6 17, 19_14</string>
    </array>
    <array>
      <string>Sep 12 17, 12:51</string>
      <string>glyphs.S_ep 12 17, 12_51</string>
    </array>
    <array>
      <string>Oct 20 17, 13:11</string>
      <string>glyphs.O_ct 20 17, 13_11</string>
    </array>
    <array>
      <string>Oct 20 17, 16:18</string>
      <string>glyphs.O_ct 20 17, 16_18</string>
    </array>
    <array>
      <string>Sep 19 17, 22:58</string>
      <string>glyphs.S_ep 19 17, 22_58</string>
    </array>
    <array>
      <string>Sep 19 17, 22:59</string>
      <string>glyphs.S_ep 19 17, 22_59</string>
    </array>
    <array>
      <string>Sep 26 17, 11:13</string>
      <string>glyphs.S_ep 26 17, 11_13</string>
    </array>
    <array>
      <string>Sep 26 17, 11:15</string>
      <string>glyphs.S_ep 26 17, 11_15</string>
    </array>
    <array>
      <string>Oct 7 17, 17:26</string>
      <string>glyphs.O_ct 7 17, 17_26</string>
    </array>
    <array>
      <string>Oct 7 17, 17:27</string>
      <string>glyphs.O_ct 7 17, 17_27</string>
    </array>
    <array>
      <string>Oct 24 17, 17:47</string>
      <string>glyphs.O_ct 24 17, 17_47</string>
    </array>
    <array>
      <string>Sep 16 17, 11:39</string>
      <string>glyphs.S_ep 16 17, 11_39</string>
    </array>
    <array>
      <string>viejo</string>
      <string>glyphs.viejo</string>
    </array>
    <array>
      <string>Oct 23 17, 12:04</string>
      <string>glyphs.O_ct 23 17, 12_04</string>
    </array>
    <array>
      <string>Oct 6 17, 16:44</string>
      <string>glyphs.O_ct 6 17, 16_44</string>
    </array>
    <array>
      <string>Oct 6 17, 16:48</string>
      <string>glyphs.O_ct 6 17, 16_48</string>
    </array>
    <array>
      <string>Oct 7 17, 15:13</string>
      <string>glyphs.O_ct 7 17, 15_13</string>
    </array>
    <array>
      <string>Oct 12 17, 11:25</string>
      <string>glyphs.O_ct 12 17, 11_25</string>
    </array>
    <array>
      <string>Sep 19 17, 23:09</string>
      <string>glyphs.S_ep 19 17, 23_09</string>
    </array>
    <array>
      <string>Sep 19 17, 23:12</string>
      <string>glyphs.S_ep 19 17, 23_12</string>
    </array>
    <array>
      <string>Sep 19 17, 23:13</string>
      <string>glyphs.S_ep 19 17, 23_13</string>
    </array>
    <array>
      <string>Juan</string>
      <string>glyphs.J_uan</string>
    </array>
    <array>
      <string>Sep 27 17, 17:23</string>
      <string>glyphs.S_ep 27 17, 17_23</string>
    </array>
    <array>
      <string>Sep 27 17, 17:29</string>
      <string>glyphs.S_ep 27 17, 17_29</string>
    </array>
    <array>
      <string>Sep 27 17, 19:38</string>
      <string>glyphs.S_ep 27 17, 19_38</string>
    </array>
    <array>
      <string>Sep 27 17, 19:45</string>
      <string>glyphs.S_ep 27 17, 19_45</string>
    </array>
    <array>
      <string>Sep 27 17, 17:50</string>
      <string>glyphs.S_ep 27 17, 17_50</string>
    </array>
    <array>
      <string>Sep 27 17, 18:00</string>
      <string>glyphs.S_ep 27 17, 18_00</string>
    </array>
    <array>
      <string>Oct 11 17, 18:23</string>
      <string>glyphs.O_ct 11 17, 18_23</string>
    </array>
    <array>
      <string>Oct 11 17, 18:24</string>
      <string>glyphs.O_ct 11 17, 18_24</string>
    </array>
    <array>
      <string>Oct 20 17, 16:07</string>
      <string>glyphs.O_ct 20 17, 16_07</string>
    </array>
    <array>
      <string>Oct 20 17, 16:13</string>
      <string>glyphs.O_ct 20 17, 16_13</string>
    </array>
    <array>
      <string>Sep 25 17, 15:13</string>
      <string>glyphs.S_ep 25 17, 15_13</string>
    </array>
    <array>
      <string>Oct 6 17, 16:27</string>
      <string>glyphs.O_ct 6 17, 16_27</string>
    </array>
    <array>
      <string>Sep 20 17, 21:43</string>
      <string>glyphs.S_ep 20 17, 21_43</string>
    </array>
    <array>
      <string>Sep 25 17, 09:25</string>
      <string>glyphs.S_ep 25 17, 09_25</string>
    </array>
    <array>
      <string>Oct 24 17, 21:08</string>
      <string>glyphs.O_ct 24 17, 21_08</string>
    </array>
    <array>
      <string>Sep 25 17, 16:25</string>
      <string>glyphs.S_ep 25 17, 16_25</string>
    </array>
    <array>
      <string>Oct 20 17, 18:03</string>
      <string>glyphs.O_ct 20 17, 18_03</string>
    </array>
    <array>
      <string>Oct 25 17, 20:24</string>
      <string>glyphs.O_ct 25 17, 20_24</string>
    </array>
    <array>
      <string>Oct 12 17, 17:55</string>
      <string>glyphs.O_ct 12 17, 17_55</string>
    </array>
    <array>
      <string>Oct 12 17, 17:59</string>
      <string>glyphs.O_ct 12 17, 17_59</string>
    </array>
    <array>
      <string>Oct 12 17, 18:02</string>
      <string>glyphs.O_ct 12 17, 18_02</string>
    </array>
    <array>
      <string>Oct 13 17, 16:39</string>
      <string>glyphs.O_ct 13 17, 16_39</string>
    </array>
    <array>
      <string>Oct 19 17, 16:33</string>
      <string>glyphs.O_ct 19 17, 16_33</string>
    </array>
    <array>
      <string>Oct 19 17, 00:18</string>
      <string>glyphs.O_ct 19 17, 00_18</string>
    </array>
    <array>
      <string>Sep 14 17, 16:30</string>
      <string>glyphs.S_ep 14 17, 16_30</string>
    </array>
    <array>
      <string>Sep 15 17, 13:56</string>
      <string>glyphs.S_ep 15 17, 13_56</string>
    </array>
    <array>
      <string>curva</string>
      <string>glyphs.curva</string>
    </array>
    <array>
      <string>Sep 26 17, 15:20</string>
      <string>glyphs.S_ep 26 17, 15_20</string>
    </array>
    <array>
      <string>Oct 7 17, 16:43</string>
      <string>glyphs.O_ct 7 17, 16_43</string>
    </array>
    <array>
      <string>Oct 21 17, 12:27</string>
      <string>glyphs.O_ct 21 17, 12_27</string>
    </array>
    <array>
      <string>Oct 6 17, 17:13</string>
      <string>glyphs.O_ct 6 17, 17_13</string>
    </array>
    <array>
      <string>Oct 24 17, 15:22</string>
      <string>glyphs.O_ct 24 17, 15_22</string>
    </array>
    <array>
      <string>Oct 20 17, 13:29</string>
      <string>glyphs.O_ct 20 17, 13_29</string>
    </array>
    <array>
      <string>Oct 21 17, 15:16</string>
      <string>glyphs.O_ct 21 17, 15_16</string>
    </array>
    <array>
      <string>Oct 9 17, 09:56</string>
      <string>glyphs.O_ct 9 17, 09_56</string>
    </array>
    <array>
      <string>Oct 12 17, 10:49</string>
      <string>glyphs.O_ct 12 17, 10_49</string>
    </array>
    <array>
      <string>Oct 24 17, 10:17</string>
      <string>glyphs.O_ct 24 17, 10_17</string>
    </array>
    <array>
      <string>Oct 24 17, 22:23</string>
      <string>glyphs.O_ct 24 17, 22_23</string>
    </array>
    <array>
      <string>Oct 12 17, 11:28</string>
      <string>glyphs.O_ct 12 17, 11_28</string>
    </array>
    <array>
      <string>Oct 24 17, 10:59</string>
      <string>glyphs.O_ct 24 17, 10_59</string>
    </array>
    <array>
      <string>Oct 24 17, 11:00</string>
      <string>glyphs.O_ct 24 17, 11_00</string>
    </array>
    <array>
      <string>Oct 24 17, 11:02</string>
      <string>glyphs.O_ct 24 17, 11_02</string>
    </array>
    <array>
      <string>Oct 11 17, 17:01</string>
      <string>glyphs.O_ct 11 17, 17_01</string>
    </array>
    <array>
      <string>Oct 23 17, 21:04</string>
      <string>glyphs.O_ct 23 17, 21_04</string>
    </array>
    <array>
      <string>Oct 24 17, 12:22</string>
      <string>glyphs.O_ct 24 17, 12_22</string>
    </array>
    <array>
      <string>Oct 24 17, 20:52</string>
      <string>glyphs.O_ct 24 17, 20_52</string>
    </array>
    <array>
      <string>Oct 12 17, 11:30</string>
      <string>glyphs.O_ct 12 17, 11_30</string>
    </array>
    <array>
      <string>Oct 24 17, 12:32</string>
      <string>glyphs.O_ct 24 17, 12_32</string>
    </array>
    <array>
      <string>Oct 24 17, 12:33</string>
      <string>glyphs.O_ct 24 17, 12_33</string>
    </array>
    <array>
      <string>Oct 9 17, 10:02</string>
      <string>glyphs.O_ct 9 17, 10_02</string>
    </array>
    <array>
      <string>Oct 3 17, 11:49</string>
      <string>glyphs.O_ct 3 17, 11_49</string>
    </array>
    <array>
      <string>Oct 24 17, 12:55</string>
      <string>glyphs.O_ct 24 17, 12_55</string>
    </array>
    <array>
      <string>Oct 24 17, 12:57</string>
      <string>glyphs.O_ct 24 17, 12_57</string>
    </array>
    <array>
      <string>Oct 3 17, 11:54</string>
      <string>glyphs.O_ct 3 17, 11_54</string>
    </array>
    <array>
      <string>Oct 3 17, 11:56</string>
      <string>glyphs.O_ct 3 17, 11_56</string>
    </array>
    <array>
      <string>Oct 3 17, 11:58</string>
      <string>glyphs.O_ct 3 17, 11_58</string>
    </array>
    <array>
      <string>Oct 24 17, 15:33</string>
      <string>glyphs.O_ct 24 17, 15_33</string>
    </array>
    <array>
      <string>Oct 2 17, 17:44</string>
      <string>glyphs.O_ct 2 17, 17_44</string>
    </array>
    <array>
      <string>Oct 3 17, 11:50</string>
      <string>glyphs.O_ct 3 17, 11_50</string>
    </array>
    <array>
      <string>Oct 3 17, 11:53</string>
      <string>glyphs.O_ct 3 17, 11_53</string>
    </array>
    <array>
      <string>Oct 3 17, 12:12</string>
      <string>glyphs.O_ct 3 17, 12_12</string>
    </array>
    <array>
      <string>Oct 3 17, 17:39</string>
      <string>glyphs.O_ct 3 17, 17_39</string>
    </array>
    <array>
      <string>Oct 3 17, 17:52</string>
      <string>glyphs.O_ct 3 17, 17_52</string>
    </array>
    <array>
      <string>Oct 3 17, 13:36</string>
      <string>glyphs.O_ct 3 17, 13_36</string>
    </array>
    <array>
      <string>Oct 3 17, 13:40</string>
      <string>glyphs.O_ct 3 17, 13_40</string>
    </array>
    <array>
      <string>Oct 21 17, 15:22</string>
      <string>glyphs.O_ct 21 17, 15_22</string>
    </array>
    <array>
      <string>Oct 25 17, 14:04</string>
      <string>glyphs.O_ct 25 17, 14_04</string>
    </array>
    <array>
      <string>Oct 21 17, 15:29</string>
      <string>glyphs.O_ct 21 17, 15_29</string>
    </array>
    <array>
      <string>Oct 19 17, 16:55</string>
      <string>glyphs.O_ct 19 17, 16_55</string>
    </array>
    <array>
      <string>Oct 16 17, 10:44</string>
      <string>glyphs.O_ct 16 17, 10_44</string>
    </array>
    <array>
      <string>Oct 24 17, 13:24</string>
      <string>glyphs.O_ct 24 17, 13_24</string>
    </array>
    <array>
      <string>Regular Aug 11 16, 21:01</string>
      <string>glyphs.R_egular A_ug 11 16, 21_01</string>
    </array>
    <array>
      <string>new Layer</string>
      <string>glyphs.new L_ayer</string>
    </array>
  </array>
</plist>
