<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2605C54D-3C1F-41EC-B765-068B3EAEFACD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy.ss01</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
