<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6B93E4ED-089E-4EBE-92CD-37FB7EE82272</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
