<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>39650B47-E528-4941-8E6F-F14DE7FE59CE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dje-cy</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
