<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8052FC83-12FC-434B-A720-E7BA8E14B14A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.er-cy.ss01</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
