<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F4DD5B4D-B087-4688-9DE2-F4AFF0FCD144</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.reversedze-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
