<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3FB75F3D-7E62-4460-A26C-B861DB9637CF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy</key>
      <integer>18</integer>
    </dict>
  </dict>
</plist>
