<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>13572306-4158-4952-83F9-C9DD5A436C5E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy.ss01</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
