<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1FB85893-8A0A-4B4D-BB0E-9DF7F8796BF4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb-cy.case</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.descTail-cy</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.descTail-cy.case</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
