<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6ED37A9C-5A9A-4EA5-93D3-6E1F643170B2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
