<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2FC214B1-BFDD-44B1-ADE8-1890D48F5F1A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Haabkhasian-cy</key>
      <integer>25</integer>
    </dict>
  </dict>
</plist>
