<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>28C1BAB0-82A0-44A4-A2FA-D227D6E30FF6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.M.ss01</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W.ss01</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e.ss01</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek.ss01</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.sc.ss01</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oe</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w.sc.ss01</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w.ss01</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
