<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Bold Aug 12 16, 13:13</string>
      <string>glyphs.B_old A_ug 12 16, 13_13</string>
    </array>
    <array>
      <string>Nov 24 16, 19:29</string>
      <string>glyphs.N_ov 24 16, 19_29</string>
    </array>
    <array>
      <string>Oct 13 17, 08:26</string>
      <string>glyphs.O_ct 13 17, 08_26</string>
    </array>
    <array>
      <string>Oct 16 17, 08:13</string>
      <string>glyphs.O_ct 16 17, 08_13</string>
    </array>
    <array>
      <string>Jacques</string>
      <string>glyphs.J_acques</string>
    </array>
    <array>
      <string>jacques</string>
      <string>glyphs.jacques</string>
    </array>
    <array>
      <string>Oct 23 17, 14:45</string>
      <string>glyphs.O_ct 23 17, 14_45</string>
    </array>
    <array>
      <string>Oct 24 17, 12:17</string>
      <string>glyphs.O_ct 24 17, 12_17</string>
    </array>
    <array>
      <string>Oct 24 17, 12:20</string>
      <string>glyphs.O_ct 24 17, 12_20</string>
    </array>
    <array>
      <string>Oct 27 17, 17:23</string>
      <string>glyphs.O_ct 27 17, 17_23</string>
    </array>
    <array>
      <string>Bold Aug 12 16, 01:46</string>
      <string>glyphs.B_old A_ug 12 16, 01_46</string>
    </array>
    <array>
      <string>Oct 27 17, 17:26</string>
      <string>glyphs.O_ct 27 17, 17_26</string>
    </array>
    <array>
      <string>Oct 24 17, 12:54</string>
      <string>glyphs.O_ct 24 17, 12_54</string>
    </array>
    <array>
      <string>Oct 6 17, 18:10</string>
      <string>glyphs.O_ct 6 17, 18_10</string>
    </array>
    <array>
      <string>Sep 14 17, 15:09</string>
      <string>glyphs.S_ep 14 17, 15_09</string>
    </array>
    <array>
      <string>centro más bajo</string>
      <string>glyphs.centro más bajo</string>
    </array>
    <array>
      <string>Oct 6 17, 16:36</string>
      <string>glyphs.O_ct 6 17, 16_36</string>
    </array>
    <array>
      <string>Sep 25 17, 15:39</string>
      <string>glyphs.S_ep 25 17, 15_39</string>
    </array>
    <array>
      <string>Sep 26 17, 12:36</string>
      <string>glyphs.S_ep 26 17, 12_36</string>
    </array>
    <array>
      <string>Oct 6 17, 19:48</string>
      <string>glyphs.O_ct 6 17, 19_48</string>
    </array>
    <array>
      <string>Oct 20 17, 10:46</string>
      <string>glyphs.O_ct 20 17, 10_46</string>
    </array>
    <array>
      <string>Oct 25 17, 18:01</string>
      <string>glyphs.O_ct 25 17, 18_01</string>
    </array>
    <array>
      <string>Sep 26 17, 12:44</string>
      <string>glyphs.S_ep 26 17, 12_44</string>
    </array>
    <array>
      <string>Oct 6 17, 15:43</string>
      <string>glyphs.O_ct 6 17, 15_43</string>
    </array>
    <array>
      <string>Oct 6 17, 15:46</string>
      <string>glyphs.O_ct 6 17, 15_46</string>
    </array>
    <array>
      <string>Sep 12 17, 16:25</string>
      <string>glyphs.S_ep 12 17, 16_25</string>
    </array>
    <array>
      <string>Sep 13 17, 16:06</string>
      <string>glyphs.S_ep 13 17, 16_06</string>
    </array>
    <array>
      <string>Sep 13 17, 16:34</string>
      <string>glyphs.S_ep 13 17, 16_34</string>
    </array>
    <array>
      <string>Sep 16 17, 16:14</string>
      <string>glyphs.S_ep 16 17, 16_14</string>
    </array>
    <array>
      <string>Sep 16 17, 17:35</string>
      <string>glyphs.S_ep 16 17, 17_35</string>
    </array>
    <array>
      <string>Oct 6 17, 18:50</string>
      <string>glyphs.O_ct 6 17, 18_50</string>
    </array>
    <array>
      <string>Maria</string>
      <string>glyphs.M_aria</string>
    </array>
    <array>
      <string>Oct 24 17, 12:43</string>
      <string>glyphs.O_ct 24 17, 12_43</string>
    </array>
    <array>
      <string>Oct 6 17, 19:14</string>
      <string>glyphs.O_ct 6 17, 19_14</string>
    </array>
    <array>
      <string>Oct 23 17, 11:51</string>
      <string>glyphs.O_ct 23 17, 11_51</string>
    </array>
    <array>
      <string>Sep 15 17, 19:48</string>
      <string>glyphs.S_ep 15 17, 19_48</string>
    </array>
    <array>
      <string>Sep 18 17, 11:13</string>
      <string>glyphs.S_ep 18 17, 11_13</string>
    </array>
    <array>
      <string>Sep 18 17, 15:49</string>
      <string>glyphs.S_ep 18 17, 15_49</string>
    </array>
    <array>
      <string>Oct 23 17, 12:01</string>
      <string>glyphs.O_ct 23 17, 12_01</string>
    </array>
    <array>
      <string>Sep 26 17, 14:31</string>
      <string>glyphs.S_ep 26 17, 14_31</string>
    </array>
    <array>
      <string>Oct 20 17, 13:11</string>
      <string>glyphs.O_ct 20 17, 13_11</string>
    </array>
    <array>
      <string>Oct 20 17, 16:18</string>
      <string>glyphs.O_ct 20 17, 16_18</string>
    </array>
    <array>
      <string>Oct 23 17, 12:02</string>
      <string>glyphs.O_ct 23 17, 12_02</string>
    </array>
    <array>
      <string>Oct 19 17, 00:17</string>
      <string>glyphs.O_ct 19 17, 00_17</string>
    </array>
    <array>
      <string>Sep 19 17, 22:58</string>
      <string>glyphs.S_ep 19 17, 22_58</string>
    </array>
    <array>
      <string>Sep 26 17, 11:13</string>
      <string>glyphs.S_ep 26 17, 11_13</string>
    </array>
    <array>
      <string>Oct 24 17, 17:47</string>
      <string>glyphs.O_ct 24 17, 17_47</string>
    </array>
    <array>
      <string>Sep 16 17, 11:39</string>
      <string>glyphs.S_ep 16 17, 11_39</string>
    </array>
    <array>
      <string>Oct 18 17, 23:51</string>
      <string>glyphs.O_ct 18 17, 23_51</string>
    </array>
    <array>
      <string>viejo</string>
      <string>glyphs.viejo</string>
    </array>
    <array>
      <string>Sep 28 17, 19:02</string>
      <string>glyphs.S_ep 28 17, 19_02</string>
    </array>
    <array>
      <string>Oct 23 17, 12:03</string>
      <string>glyphs.O_ct 23 17, 12_03</string>
    </array>
    <array>
      <string>Oct 6 17, 16:44</string>
      <string>glyphs.O_ct 6 17, 16_44</string>
    </array>
    <array>
      <string>Oct 6 17, 16:49</string>
      <string>glyphs.O_ct 6 17, 16_49</string>
    </array>
    <array>
      <string>Oct 7 17, 15:13</string>
      <string>glyphs.O_ct 7 17, 15_13</string>
    </array>
    <array>
      <string>Oct 12 17, 11:25</string>
      <string>glyphs.O_ct 12 17, 11_25</string>
    </array>
    <array>
      <string>Sep 19 17, 19:10</string>
      <string>glyphs.S_ep 19 17, 19_10</string>
    </array>
    <array>
      <string>Sep 19 17, 23:05</string>
      <string>glyphs.S_ep 19 17, 23_05</string>
    </array>
    <array>
      <string>Juan</string>
      <string>glyphs.J_uan</string>
    </array>
    <array>
      <string>Sep 27 17, 19:47</string>
      <string>glyphs.S_ep 27 17, 19_47</string>
    </array>
    <array>
      <string>Sep 27 17, 17:50</string>
      <string>glyphs.S_ep 27 17, 17_50</string>
    </array>
    <array>
      <string>Sep 27 17, 17:53</string>
      <string>glyphs.S_ep 27 17, 17_53</string>
    </array>
    <array>
      <string>Juan II</string>
      <string>glyphs.J_uan I_I_</string>
    </array>
    <array>
      <string>Oct 11 17, 18:25</string>
      <string>glyphs.O_ct 11 17, 18_25</string>
    </array>
    <array>
      <string>Oct 13 17, 07:28</string>
      <string>glyphs.O_ct 13 17, 07_28</string>
    </array>
    <array>
      <string>Oct 20 17, 16:02</string>
      <string>glyphs.O_ct 20 17, 16_02</string>
    </array>
    <array>
      <string>Oct 20 17, 16:07</string>
      <string>glyphs.O_ct 20 17, 16_07</string>
    </array>
    <array>
      <string>Oct 20 17, 16:29</string>
      <string>glyphs.O_ct 20 17, 16_29</string>
    </array>
    <array>
      <string>Oct 6 17, 16:27</string>
      <string>glyphs.O_ct 6 17, 16_27</string>
    </array>
    <array>
      <string>Sep 16 17, 15:30</string>
      <string>glyphs.S_ep 16 17, 15_30</string>
    </array>
    <array>
      <string>Oct 24 17, 20:12</string>
      <string>glyphs.O_ct 24 17, 20_12</string>
    </array>
    <array>
      <string>Sep 25 17, 09:26</string>
      <string>glyphs.S_ep 25 17, 09_26</string>
    </array>
    <array>
      <string>Oct 24 17, 21:08</string>
      <string>glyphs.O_ct 24 17, 21_08</string>
    </array>
    <array>
      <string>Sep 25 17, 15:54</string>
      <string>glyphs.S_ep 25 17, 15_54</string>
    </array>
    <array>
      <string>Oct 18 17, 23:53</string>
      <string>glyphs.O_ct 18 17, 23_53</string>
    </array>
    <array>
      <string>Oct 20 17, 18:03</string>
      <string>glyphs.O_ct 20 17, 18_03</string>
    </array>
    <array>
      <string>Oct 13 17, 11:56</string>
      <string>glyphs.O_ct 13 17, 11_56</string>
    </array>
    <array>
      <string>Oct 12 17, 17:55</string>
      <string>glyphs.O_ct 12 17, 17_55</string>
    </array>
    <array>
      <string>Oct 12 17, 18:02</string>
      <string>glyphs.O_ct 12 17, 18_02</string>
    </array>
    <array>
      <string>Oct 19 17, 16:33</string>
      <string>glyphs.O_ct 19 17, 16_33</string>
    </array>
    <array>
      <string>Sep 14 17, 16:30</string>
      <string>glyphs.S_ep 14 17, 16_30</string>
    </array>
    <array>
      <string>Sep 15 17, 13:57</string>
      <string>glyphs.S_ep 15 17, 13_57</string>
    </array>
    <array>
      <string>curva</string>
      <string>glyphs.curva</string>
    </array>
    <array>
      <string>Sep 26 17, 15:20</string>
      <string>glyphs.S_ep 26 17, 15_20</string>
    </array>
    <array>
      <string>Oct 7 17, 16:37</string>
      <string>glyphs.O_ct 7 17, 16_37</string>
    </array>
    <array>
      <string>Oct 21 17, 12:23</string>
      <string>glyphs.O_ct 21 17, 12_23</string>
    </array>
    <array>
      <string>Oct 9 17, 10:29</string>
      <string>glyphs.O_ct 9 17, 10_29</string>
    </array>
    <array>
      <string>Oct 7 17, 18:52</string>
      <string>glyphs.O_ct 7 17, 18_52</string>
    </array>
    <array>
      <string>Oct 24 17, 15:22</string>
      <string>glyphs.O_ct 24 17, 15_22</string>
    </array>
    <array>
      <string>Oct 20 17, 13:26</string>
      <string>glyphs.O_ct 20 17, 13_26</string>
    </array>
    <array>
      <string>Oct 24 17, 12:41</string>
      <string>glyphs.O_ct 24 17, 12_41</string>
    </array>
    <array>
      <string>Oct 6 17, 21:46</string>
      <string>glyphs.O_ct 6 17, 21_46</string>
    </array>
    <array>
      <string>Oct 7 17, 19:21</string>
      <string>glyphs.O_ct 7 17, 19_21</string>
    </array>
    <array>
      <string>Oct 21 17, 15:16</string>
      <string>glyphs.O_ct 21 17, 15_16</string>
    </array>
    <array>
      <string>Oct 9 17, 09:56</string>
      <string>glyphs.O_ct 9 17, 09_56</string>
    </array>
    <array>
      <string>Oct 12 17, 10:49</string>
      <string>glyphs.O_ct 12 17, 10_49</string>
    </array>
    <array>
      <string>Oct 22 17, 18:30</string>
      <string>glyphs.O_ct 22 17, 18_30</string>
    </array>
    <array>
      <string>Oct 24 17, 10:17</string>
      <string>glyphs.O_ct 24 17, 10_17</string>
    </array>
    <array>
      <string>Oct 24 17, 22:23</string>
      <string>glyphs.O_ct 24 17, 22_23</string>
    </array>
    <array>
      <string>Oct 24 17, 23:00</string>
      <string>glyphs.O_ct 24 17, 23_00</string>
    </array>
    <array>
      <string>Oct 12 17, 11:28</string>
      <string>glyphs.O_ct 12 17, 11_28</string>
    </array>
    <array>
      <string>Oct 14 17, 09:45</string>
      <string>glyphs.O_ct 14 17, 09_45</string>
    </array>
    <array>
      <string>Oct 24 17, 10:59</string>
      <string>glyphs.O_ct 24 17, 10_59</string>
    </array>
    <array>
      <string>Oct 11 17, 16:55</string>
      <string>glyphs.O_ct 11 17, 16_55</string>
    </array>
    <array>
      <string>Oct 11 17, 17:00</string>
      <string>glyphs.O_ct 11 17, 17_00</string>
    </array>
    <array>
      <string>Oct 23 17, 21:03</string>
      <string>glyphs.O_ct 23 17, 21_03</string>
    </array>
    <array>
      <string>Oct 24 17, 12:22</string>
      <string>glyphs.O_ct 24 17, 12_22</string>
    </array>
    <array>
      <string>Oct 24 17, 19:24</string>
      <string>glyphs.O_ct 24 17, 19_24</string>
    </array>
    <array>
      <string>Oct 24 17, 20:56</string>
      <string>glyphs.O_ct 24 17, 20_56</string>
    </array>
    <array>
      <string>Oct 24 17, 19:07</string>
      <string>glyphs.O_ct 24 17, 19_07</string>
    </array>
    <array>
      <string>Oct 12 17, 11:29</string>
      <string>glyphs.O_ct 12 17, 11_29</string>
    </array>
    <array>
      <string>Oct 9 17, 10:02</string>
      <string>glyphs.O_ct 9 17, 10_02</string>
    </array>
    <array>
      <string>Oct 3 17, 11:49</string>
      <string>glyphs.O_ct 3 17, 11_49</string>
    </array>
    <array>
      <string>Oct 3 17, 11:54</string>
      <string>glyphs.O_ct 3 17, 11_54</string>
    </array>
    <array>
      <string>Oct 23 17, 16:49</string>
      <string>glyphs.O_ct 23 17, 16_49</string>
    </array>
    <array>
      <string>Oct 2 17, 17:45</string>
      <string>glyphs.O_ct 2 17, 17_45</string>
    </array>
    <array>
      <string>Oct 3 17, 11:52</string>
      <string>glyphs.O_ct 3 17, 11_52</string>
    </array>
    <array>
      <string>Oct 3 17, 11:53</string>
      <string>glyphs.O_ct 3 17, 11_53</string>
    </array>
    <array>
      <string>Oct 3 17, 12:15</string>
      <string>glyphs.O_ct 3 17, 12_15</string>
    </array>
    <array>
      <string>Oct 3 17, 12:18</string>
      <string>glyphs.O_ct 3 17, 12_18</string>
    </array>
    <array>
      <string>Oct 3 17, 12:20</string>
      <string>glyphs.O_ct 3 17, 12_20</string>
    </array>
    <array>
      <string>Oct 3 17, 17:56</string>
      <string>glyphs.O_ct 3 17, 17_56</string>
    </array>
    <array>
      <string>Oct 13 17, 17:26</string>
      <string>glyphs.O_ct 13 17, 17_26</string>
    </array>
    <array>
      <string>Oct 21 17, 15:22</string>
      <string>glyphs.O_ct 21 17, 15_22</string>
    </array>
    <array>
      <string>Oct 25 17, 16:45</string>
      <string>glyphs.O_ct 25 17, 16_45</string>
    </array>
    <array>
      <string>Oct 21 17, 15:29</string>
      <string>glyphs.O_ct 21 17, 15_29</string>
    </array>
    <array>
      <string>Oct 21 17, 16:08</string>
      <string>glyphs.O_ct 21 17, 16_08</string>
    </array>
    <array>
      <string>Oct 19 17, 16:55</string>
      <string>glyphs.O_ct 19 17, 16_55</string>
    </array>
    <array>
      <string>Oct 19 17, 01:18</string>
      <string>glyphs.O_ct 19 17, 01_18</string>
    </array>
    <array>
      <string>Oct 16 17, 10:44</string>
      <string>glyphs.O_ct 16 17, 10_44</string>
    </array>
    <array>
      <string>Oct 24 17, 13:22</string>
      <string>glyphs.O_ct 24 17, 13_22</string>
    </array>
  </array>
</plist>
