<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FBBADFAF-F6C3-468D-B25F-8DF14B6B8FF0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Reversedze-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
