<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>728CCAFC-6E16-42BD-AF93-813B053CA175</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy.ss01</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
