<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2786CF3E-7F5C-4B3B-AA6C-43243C3A6907</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
