<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0DB0AFDE-6F32-4C6B-A17C-FE39110CBB32</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ii-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ii-cy.ss01</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
