<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>909D8DED-6931-41AF-88C9-3C2F8F5476E2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hardsign-cy.loclBGR</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hardsign-cy.ss01</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
