<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FF29ACE0-3A1A-409D-825C-F98682F4E328</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.w.ss01</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
