<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>89F1AB2A-DFE9-41C1-A206-8C56482A2BEF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.W.ss01</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e.ss01</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek.ss01</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.sc.ss01</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oe</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w.sc.ss01</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w.ss01</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
