<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6EEFC9A9-0249-4F3C-B8CA-3174BD14293D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hahook-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
