<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>96D12C52-C2FF-422E-859E-BD5E60D6CF21</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ghemiddlehook-cy</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
