<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9914D05A-4711-4CAB-9695-233C8459FED4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.enghe-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
