<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>742</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>copyright</key>
    <string>Copyright 2011 The Montserrat Project Authors (https://github.com/JulietaUla/Montserrat)</string>
    <key>descender</key>
    <integer>-194</integer>
    <key>familyName</key>
    <string>Montserrat</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <real>-11.3</real>
    <key>openTypeHeadCreated</key>
    <string>2017/10/17 12:21:09</string>
    <key>openTypeHheaAscender</key>
    <integer>968</integer>
    <key>openTypeHheaDescender</key>
    <integer>-251</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Julieta Ulanovsky</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.zkysky.com.ar/</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Julieta Ulanovsky</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.zkysky.com.ar/</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>968</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-251</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>ULA</string>
    <key>openTypeOS2WinAscent</key>
    <integer>1109</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>270</integer>
    <key>postscriptBlueScale</key>
    <real>0.04996</real>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-3</integer>
      <integer>0</integer>
      <integer>517</integer>
      <integer>520</integer>
      <integer>559</integer>
      <integer>562</integer>
      <integer>600</integer>
      <integer>603</integer>
      <integer>700</integer>
      <integer>703</integer>
      <integer>742</integer>
      <integer>745</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-197</integer>
      <integer>-194</integer>
      <integer>-103</integer>
      <integer>-100</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>19</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>20</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Montserrat Thin</string>
    <key>styleMapStyleName</key>
    <string>italic</string>
    <key>styleName</key>
    <string>Thin Italic</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>8</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>517</integer>
  </dict>
</plist>
