<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D1EC087B-E597-4600-BCDC-126CE770C8F4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zhe-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
