<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D639BD2D-C5F3-4D2A-8424-9F29DE2CD62E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy.loclBGR</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
