<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E42C0F34-D191-4319-B986-3BC1427E4BD6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.iacute_j.loclNLD</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
