<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>ACDD9A30-C703-4F79-9A4A-3150D40C17C4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.el-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
