<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0DEAF966-404B-4E28-AF4B-4C5C5CE092D0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ve-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
