<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CAEB4E5E-0BDA-413D-836F-12A952A59F04</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy.ss01</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
