<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E4B2BD2D-6C4C-4F5A-A44C-26C78BF52C4D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy.loclSRB</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
