<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>elhook-cy</key>
    <string>elhook-cy.glif</string>
    <key>enlefthook-cy</key>
    <string>enlefthook-cy.glif</string>
    <key>gestrokehook-cy</key>
    <string>gestrokehook-cy.glif</string>
    <key>hastroke-cy</key>
    <string>hastroke-cy.glif</string>
    <key>reversedze-cy</key>
    <string>reversedze-cy.glif</string>
    <key>ve-cy.loclBGR</key>
    <string>ve-cy.loclB_G_R_.glif</string>
  </dict>
</plist>
