<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>779FE587-3066-4016-9FAF-2D1E5DB27A81</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.elhook-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.enlefthook-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gestrokehook-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hastroke-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.reversedze-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ve-cy.loclBGR</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
