<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>73CB5126-8A18-4CA6-8022-0F4D5C2E41CA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.y.ss01</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
