<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2A5FFCCE-0B82-4ADE-B238-468AD0870A09</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy</key>
      <integer>17</integer>
    </dict>
  </dict>
</plist>
