<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7281DA99-5710-4240-8258-51558C7D49D4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.e</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
