<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8F8155B9-080F-4652-B21B-4B46073FC686</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ghemiddlehook-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.izhitsa-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yusbig-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
