<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DA5FFD5D-36D9-4247-B36D-146C204E8FDD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ghemiddlehook-cy</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
