<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7E2D6A6F-DACB-44C7-826C-BCF3015D6661</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ghemiddlehook-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.izhitsa-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yusbig-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
