<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>04BDDAE6-5D87-4CD4-A5CC-7A91AD8DC09C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yeru-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yeru-cy.ss01</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
