<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F719FE22-88B9-4381-BE00-FE43E29985BE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ef-cy.loclBGR</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
