<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3B74DEE8-88CA-4315-85E7-2D6B982BCB8F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy.ss01</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
