<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3F64F3EE-9C81-48D8-9CA1-AB7C7519029A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.U-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U-cy.ss01</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
