<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>00E5A73C-8114-49AD-A3FA-4F63789AAF21</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ghemiddlehook-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.izhitsa-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yusbig-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
