<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>102314BF-C223-4D57-B695-0A27BC606243</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ezh.sc</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy.loclBGR</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
