<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B55D94B2-C69C-40C0-84C8-021C69105D31</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy.ss01</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
