<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4F4EF802-32B8-4158-829A-3ED99B0C8329</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
