<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>09039E2E-8373-4AB0-9FB3-DE481A40A313</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ka-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
