<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9C69D3F6-4F3A-4EE2-882C-93235687E44E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.gstroke</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
