<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C0B47F51-8111-46B4-92FF-67D69D35049D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ef-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
