<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E8537777-B544-4566-988D-7EDF17E21BB6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.kahook-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
