<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8DDE5DAC-523D-47FA-A9E6-7B73639694D1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
