<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F4573A96-C10F-498F-9979-C2ECA186B9CA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tshe-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
