<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>54D1A163-7B66-4913-9824-22E606AD0433</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy.loclSRB</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
