<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D3624C65-13D0-4095-B839-13FACF2410A5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
