<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2062563A-6A1C-4075-BD9F-D93234564795</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy.ss01</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
