<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>fi.ss01</key>
    <string>fi.ss01.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>w</key>
    <string>w.glif</string>
  </dict>
</plist>
