<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>UUID1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketright</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fi</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fi.ss01</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.mu</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.paragraph</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pi</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.trademark</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
