<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E821F14D-4BF3-434B-9C22-1DF57A18701E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Haabkhasian-cy</key>
      <integer>23</integer>
    </dict>
  </dict>
</plist>
