<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>61C469BA-2E4F-4137-B3D9-D2895A22F9C0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ve-cy.loclBGR</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
