<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A1E34B8C-1801-4F7E-BF88-C12CB69BFA50</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
