<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D3D3BB95-F8EA-4C81-8A80-3CEB42CBB7DF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.lje-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lje-cy.ss01</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
