<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>246403A3-FB77-4836-8F75-E5402E1A27BF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dje-cy</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
