<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E948CC90-2111-49F5-B6CA-BB0948AF68BA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy.ss01</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
