<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B75AD405-B3AE-43C1-81A1-64B81DBF96AE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.haabkhasian-cy</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
