<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A0941BEC-70F9-4599-AB3B-E10A2948198B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ze-cy</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
