<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5D4DD7B1-2617-4F6F-87EF-A7E56A2A31A3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kahook-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
