<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EEA8680D-1FF3-40CE-9363-051D7C06078A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
