<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>94A43260-883B-451A-A07C-D84E8FD2C8F2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.AE.ss01</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
