<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E9A76D9D-BCD2-4217-A6DB-7F4B2E362E01</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Nje-cy.ss01</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
