<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>119AB6E4-9819-4685-AC2B-C659C50D64F9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
