<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9D5E877D-8B43-444B-92B3-8A951E1CF16D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy.ss01</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
