<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.ss01</key>
    <string>A_.ss01.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>AE.ss01</key>
    <string>A_E_.ss01.glif</string>
    <key>Adieresis.alt</key>
    <string>A_dieresis.alt.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Be-cy</key>
    <string>B_e-cy.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Che-cy</key>
    <string>C_he-cy.glif</string>
    <key>Cheabkhasian-cy</key>
    <string>C_heabkhasian-cy.glif</string>
    <key>Chedescender-cy</key>
    <string>C_hedescender-cy.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>De-cy</key>
    <string>D_e-cy.glif</string>
    <key>De-cy.ss01</key>
    <string>D_e-cy.ss01.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Dje-cy</key>
    <string>D_je-cy.glif</string>
    <key>Dzeabkhasian-cy</key>
    <string>D_zeabkhasian-cy.glif</string>
    <key>Dzhe-cy</key>
    <string>D_zhe-cy.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.ss01</key>
    <string>E_.ss01.glif</string>
    <key>Ef-cy</key>
    <string>E_f-cy.glif</string>
    <key>Ef-cy.loclBGR</key>
    <string>E_f-cy.loclB_G_R_.glif</string>
    <key>Ef-cy.ss01</key>
    <string>E_f-cy.ss01.glif</string>
    <key>El-cy</key>
    <string>E_l-cy.glif</string>
    <key>El-cy.ss01</key>
    <string>E_l-cy.ss01.glif</string>
    <key>Elhook-cy</key>
    <string>E_lhook-cy.glif</string>
    <key>Endescender-cy</key>
    <string>E_ndescender-cy.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eng.ss01</key>
    <string>E_ng.ss01.glif</string>
    <key>Enghe-cy</key>
    <string>E_nghe-cy.glif</string>
    <key>Eogonek.ss01</key>
    <string>E_ogonek.ss01.glif</string>
    <key>Er-cy.ss01</key>
    <string>E_r-cy.ss01.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.ss01</key>
    <string>F_.ss01.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.ss01</key>
    <string>G_.ss01.glif</string>
    <key>Ge-cy</key>
    <string>G_e-cy.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Gestrokehook-cy</key>
    <string>G_estrokehook-cy.glif</string>
    <key>Ghemiddlehook-cy</key>
    <string>G_hemiddlehook-cy.glif</string>
    <key>Ghestroke-cy</key>
    <string>G_hestroke-cy.glif</string>
    <key>Gheupturn-cy</key>
    <string>G_heupturn-cy.glif</string>
    <key>Gstroke</key>
    <string>G_stroke.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Ha-cy</key>
    <string>H_a-cy.glif</string>
    <key>Haabkhasian-cy</key>
    <string>H_aabkhasian-cy.glif</string>
    <key>Hadescender-cy</key>
    <string>H_adescender-cy.glif</string>
    <key>Hahook-cy</key>
    <string>H_ahook-cy.glif</string>
    <key>Hardsign-cy</key>
    <string>H_ardsign-cy.glif</string>
    <key>Hardsign-cy.ss01</key>
    <string>H_ardsign-cy.ss01.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.ss01</key>
    <string>I_.ss01.glif</string>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>IJ.ss01</key>
    <string>I_J_.ss01.glif</string>
    <key>Ia-cy</key>
    <string>I_a-cy.glif</string>
    <key>Iacute_J.loclNLD.ss01</key>
    <string>I_acute_J_.loclN_L_D_.ss01.glif</string>
    <key>Ii-cy</key>
    <string>I_i-cy.glif</string>
    <key>Ii-cy.ss01</key>
    <string>I_i-cy.ss01.glif</string>
    <key>Iu-cy</key>
    <string>I_u-cy.glif</string>
    <key>Izhitsa-cy</key>
    <string>I_zhitsa-cy.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>J.ss01</key>
    <string>J_.ss01.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Ka-cy</key>
    <string>K_a-cy.glif</string>
    <key>Kabashkir-cy</key>
    <string>K_abashkir-cy.glif</string>
    <key>Kadescender-cy</key>
    <string>K_adescender-cy.glif</string>
    <key>Kahook-cy</key>
    <string>K_ahook-cy.glif</string>
    <key>Kaverticalstroke-cy</key>
    <string>K_averticalstroke-cy.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lje-cy</key>
    <string>L_je-cy.glif</string>
    <key>Lje-cy.ss01</key>
    <string>L_je-cy.ss01.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.ss01</key>
    <string>M_.ss01.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.ss01</key>
    <string>N_.ss01.glif</string>
    <key>Napostrophe</key>
    <string>N_apostrophe.glif</string>
    <key>Nje-cy</key>
    <string>N_je-cy.glif</string>
    <key>Nje-cy.ss01</key>
    <string>N_je-cy.ss01.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Obarred-cy</key>
    <string>O_barred-cy.glif</string>
    <key>Ohm</key>
    <string>O_hm.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Pe-cy</key>
    <string>P_e-cy.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.ss01</key>
    <string>Q_.ss01.glif</string>
    <key>Q.ss01.BRACKET.170</key>
    <string>Q_.ss01.B_R_A_C_K_E_T_.170.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Reversedze-cy</key>
    <string>R_eversedze-cy.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Saltillo</key>
    <string>S_altillo.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Schwa-cy</key>
    <string>S_chwa-cy.glif</string>
    <key>Schwa-cy.ss01</key>
    <string>S_chwa-cy.ss01.glif</string>
    <key>Schwa.ss01</key>
    <string>S_chwa.ss01.glif</string>
    <key>Semisoftsign-cy</key>
    <string>S_emisoftsign-cy.glif</string>
    <key>Semisoftsign-cy.ss01</key>
    <string>S_emisoftsign-cy.ss01.glif</string>
    <key>Shha-cy</key>
    <string>S_hha-cy.glif</string>
    <key>Softsign-cy</key>
    <string>S_oftsign-cy.glif</string>
    <key>Softsign-cy.ss01</key>
    <string>S_oftsign-cy.ss01.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.ss01</key>
    <string>T_.ss01.glif</string>
    <key>T_h</key>
    <string>T__h.glif</string>
    <key>Tdieresis</key>
    <string>T_dieresis.glif</string>
    <key>Tdieresis.ss01</key>
    <string>T_dieresis.ss01.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Tse-cy</key>
    <string>T_se-cy.glif</string>
    <key>Tshe-cy</key>
    <string>T_she-cy.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U-cy</key>
    <string>U_-cy.glif</string>
    <key>U-cy.ss01</key>
    <string>U_-cy.ss01.glif</string>
    <key>U.ss01</key>
    <string>U_.ss01.glif</string>
    <key>Udieresis.ss01.alt</key>
    <string>U_dieresis.ss01.alt.glif</string>
    <key>Udieresis.ss01.alt.BRACKET.133</key>
    <string>U_dieresis.ss01.alt.B_R_A_C_K_E_T_.133.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>Uhorn.ss01</key>
    <string>U_horn.ss01.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Uogonek.ss01</key>
    <string>U_ogonek.ss01.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W.ss01</key>
    <string>W_.ss01.glif</string>
    <key>We-cy</key>
    <string>W_e-cy.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y.ss01</key>
    <string>Y_.ss01.glif</string>
    <key>Yat-cy</key>
    <string>Y_at-cy.glif</string>
    <key>Yat-cy.ss01</key>
    <string>Y_at-cy.ss01.glif</string>
    <key>Yeru-cy</key>
    <string>Y_eru-cy.glif</string>
    <key>Yeru-cy.ss01</key>
    <string>Y_eru-cy.ss01.glif</string>
    <key>Yusbig-cy</key>
    <string>Y_usbig-cy.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Z.ss01</key>
    <string>Z_.ss01.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>Zhe-cy</key>
    <string>Z_he-cy.glif</string>
    <key>Zhedescender-cy</key>
    <string>Z_hedescender-cy.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.sc</key>
    <string>a.sc.glif</string>
    <key>a.sc.ss01</key>
    <string>a.sc.ss01.glif</string>
    <key>a.ss01</key>
    <string>a.ss01.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>acutecomb.loclVIET</key>
    <string>acutecomb.loclV_I_E_T_.glif</string>
    <key>acutecomb_dotaccentcomb</key>
    <string>acutecomb_dotaccentcomb.glif</string>
    <key>acutecomb_dotaccentcomb.case</key>
    <string>acutecomb_dotaccentcomb.case.glif</string>
    <key>acutecomb_macroncomb</key>
    <string>acutecomb_macroncomb.glif</string>
    <key>acutecomb_macroncomb.case</key>
    <string>acutecomb_macroncomb.case.glif</string>
    <key>adieresis.sc.alt</key>
    <string>adieresis.sc.alt.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ae.sc</key>
    <string>ae.sc.glif</string>
    <key>ae.ss01</key>
    <string>ae.ss01.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>ampersand.sc</key>
    <string>ampersand.sc.glif</string>
    <key>aogonek.ss01</key>
    <string>aogonek.ss01.glif</string>
    <key>apostrophemod</key>
    <string>apostrophemod.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>at.case</key>
    <string>at.case.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b.sc</key>
    <string>b.sc.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>backslash.case</key>
    <string>backslash.case.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>be-cy.loclSRB</key>
    <string>be-cy.loclS_R_B_.glif</string>
    <key>blackDiamond</key>
    <string>blackD_iamond.glif</string>
    <key>blackSquare</key>
    <string>blackS_quare.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceleft.case</key>
    <string>braceleft.case.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>braceright.case</key>
    <string>braceright.case.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketleft.case</key>
    <string>bracketleft.case.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bracketright.case</key>
    <string>bracketright.case.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brevebelowcomb</key>
    <string>brevebelowcomb.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>brevecomb-cy</key>
    <string>brevecomb-cy.glif</string>
    <key>brevecomb-cy.case</key>
    <string>brevecomb-cy.case.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>brevecomb.loclVIET</key>
    <string>brevecomb.loclV_I_E_T_.glif</string>
    <key>brevecomb.narrow</key>
    <string>brevecomb.narrow.glif</string>
    <key>brevecomb_acutecomb</key>
    <string>brevecomb_acutecomb.glif</string>
    <key>brevecomb_acutecomb.case</key>
    <string>brevecomb_acutecomb.case.glif</string>
    <key>brevecomb_gravecomb</key>
    <string>brevecomb_gravecomb.glif</string>
    <key>brevecomb_gravecomb.case</key>
    <string>brevecomb_gravecomb.case.glif</string>
    <key>brevecomb_hookabovecomb</key>
    <string>brevecomb_hookabovecomb.glif</string>
    <key>brevecomb_hookabovecomb.case</key>
    <string>brevecomb_hookabovecomb.case.glif</string>
    <key>brevecomb_tildecomb</key>
    <string>brevecomb_tildecomb.glif</string>
    <key>brevecomb_tildecomb.case</key>
    <string>brevecomb_tildecomb.case.glif</string>
    <key>breveinvertedcomb</key>
    <string>breveinvertedcomb.glif</string>
    <key>breveinvertedcomb.case</key>
    <string>breveinvertedcomb.case.glif</string>
    <key>breveinvertedcomb.narrow</key>
    <string>breveinvertedcomb.narrow.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>bullet.case</key>
    <string>bullet.case.glif</string>
    <key>bulletoperator</key>
    <string>bulletoperator.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.sc</key>
    <string>c.sc.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb.alt</key>
    <string>caroncomb.alt.glif</string>
    <key>caroncomb.alt.short</key>
    <string>caroncomb.alt.short.glif</string>
    <key>caroncomb.case</key>
    <string>caroncomb.case.glif</string>
    <key>caroncomb.loclVIET</key>
    <string>caroncomb.loclV_I_E_T_.glif</string>
    <key>caroncomb.narrow</key>
    <string>caroncomb.narrow.glif</string>
    <key>caroncomb_dotaccentcomb</key>
    <string>caroncomb_dotaccentcomb.glif</string>
    <key>caroncomb_dotaccentcomb.case</key>
    <string>caroncomb_dotaccentcomb.case.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cedi.BRACKET.170</key>
    <string>cedi.B_R_A_C_K_E_T_.170.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>cent.BRACKET.170</key>
    <string>cent.B_R_A_C_K_E_T_.170.glif</string>
    <key>che-cy</key>
    <string>che-cy.glif</string>
    <key>cheabkhasian-cy</key>
    <string>cheabkhasian-cy.glif</string>
    <key>chekhakassian-cy</key>
    <string>chekhakassian-cy.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>circumflexcomb.loclVIET</key>
    <string>circumflexcomb.loclV_I_E_T_.glif</string>
    <key>circumflexcomb.narrow</key>
    <string>circumflexcomb.narrow.glif</string>
    <key>circumflexcomb_acutecomb</key>
    <string>circumflexcomb_acutecomb.glif</string>
    <key>circumflexcomb_acutecomb.case</key>
    <string>circumflexcomb_acutecomb.case.glif</string>
    <key>circumflexcomb_gravecomb</key>
    <string>circumflexcomb_gravecomb.glif</string>
    <key>circumflexcomb_gravecomb.case</key>
    <string>circumflexcomb_gravecomb.case.glif</string>
    <key>circumflexcomb_hookabovecomb</key>
    <string>circumflexcomb_hookabovecomb.glif</string>
    <key>circumflexcomb_hookabovecomb.case</key>
    <string>circumflexcomb_hookabovecomb.case.glif</string>
    <key>circumflexcomb_tildecomb</key>
    <string>circumflexcomb_tildecomb.glif</string>
    <key>circumflexcomb_tildecomb.case</key>
    <string>circumflexcomb_tildecomb.case.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>colonsign.BRACKET.170</key>
    <string>colonsign.B_R_A_C_K_E_T_.170.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaaccentcomb.alt</key>
    <string>commaaccentcomb.alt.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>commercialMinusSign</key>
    <string>commercialM_inusS_ign.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.sc</key>
    <string>d.sc.glif</string>
    <key>d.ss01</key>
    <string>d.ss01.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dblgravecomb</key>
    <string>dblgravecomb.glif</string>
    <key>dblgravecomb.case</key>
    <string>dblgravecomb.case.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>dcroat.ss01</key>
    <string>dcroat.ss01.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>descender-cy.case.short</key>
    <string>descender-cy.case.short.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresisbelowcomb</key>
    <string>dieresisbelowcomb.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>dieresiscomb.loclVIET</key>
    <string>dieresiscomb.loclV_I_E_T_.glif</string>
    <key>dieresiscomb.narrow</key>
    <string>dieresiscomb.narrow.glif</string>
    <key>dieresiscomb_acutecomb</key>
    <string>dieresiscomb_acutecomb.glif</string>
    <key>dieresiscomb_acutecomb.case</key>
    <string>dieresiscomb_acutecomb.case.glif</string>
    <key>dieresiscomb_gravecomb</key>
    <string>dieresiscomb_gravecomb.glif</string>
    <key>dieresiscomb_gravecomb.case</key>
    <string>dieresiscomb_gravecomb.case.glif</string>
    <key>dieresiscomb_macroncomb</key>
    <string>dieresiscomb_macroncomb.glif</string>
    <key>dieresiscomb_macroncomb.case</key>
    <string>dieresiscomb_macroncomb.case.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>divisionslash</key>
    <string>divisionslash.glif</string>
    <key>dje-cy</key>
    <string>dje-cy.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dollar.BRACKET.170</key>
    <string>dollar.B_R_A_C_K_E_T_.170.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotaccentcomb.case</key>
    <string>dotaccentcomb.case.glif</string>
    <key>dotaccentcomb.i</key>
    <string>dotaccentcomb.i.glif</string>
    <key>dotaccentcomb.loclVIET</key>
    <string>dotaccentcomb.loclV_I_E_T_.glif</string>
    <key>dotaccentcomb_macroncomb</key>
    <string>dotaccentcomb_macroncomb.glif</string>
    <key>dotaccentcomb_macroncomb.case</key>
    <string>dotaccentcomb_macroncomb.case.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>doubleprimemod</key>
    <string>doubleprimemod.glif</string>
    <key>downArrow</key>
    <string>downA_rrow.glif</string>
    <key>downArrow.case</key>
    <string>downA_rrow.case.glif</string>
    <key>downBlackTriangle</key>
    <string>downB_lackT_riangle.glif</string>
    <key>downWhiteTriangle</key>
    <string>downW_hiteT_riangle.glif</string>
    <key>dzeabkhasian-cy</key>
    <string>dzeabkhasian-cy.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.sc</key>
    <string>e.sc.glif</string>
    <key>e.sc.ss01</key>
    <string>e.sc.ss01.glif</string>
    <key>e.ss01</key>
    <string>e.ss01.glif</string>
    <key>ef-cy</key>
    <string>ef-cy.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.dnom</key>
    <string>eight.dnom.glif</string>
    <key>eight.osf</key>
    <string>eight.osf.glif</string>
    <key>eight.tf</key>
    <string>eight.tf.glif</string>
    <key>eight.tosf</key>
    <string>eight.tosf.glif</string>
    <key>el-cy</key>
    <string>el-cy.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>emdash.case</key>
    <string>emdash.case.glif</string>
    <key>emptyset</key>
    <string>emptyset.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>endash.case</key>
    <string>endash.case.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eng.sc</key>
    <string>eng.sc.glif</string>
    <key>eng.sc.ss01</key>
    <string>eng.sc.ss01.glif</string>
    <key>enghe-cy</key>
    <string>enghe-cy.glif</string>
    <key>enlefthook-cy</key>
    <string>enlefthook-cy.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>eogonek.sc.ss01</key>
    <string>eogonek.sc.ss01.glif</string>
    <key>eogonek.ss01</key>
    <string>eogonek.ss01.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>er-cy.ss01</key>
    <string>er-cy.ss01.glif</string>
    <key>ereversed-cy</key>
    <string>ereversed-cy.glif</string>
    <key>esdescender-cy</key>
    <string>esdescender-cy.glif</string>
    <key>estimated</key>
    <string>estimated.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>eth.sc</key>
    <string>eth.sc.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclam.sc</key>
    <string>exclam.sc.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>exclamdown.sc</key>
    <string>exclamdown.sc.glif</string>
    <key>ezh.sc</key>
    <string>ezh.sc.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.sc</key>
    <string>f.sc.glif</string>
    <key>f.sc.ss01</key>
    <string>f.sc.ss01.glif</string>
    <key>f.ss01</key>
    <string>f.ss01.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>fi.ss01</key>
    <string>fi.ss01.glif</string>
    <key>figuredash</key>
    <string>figuredash.glif</string>
    <key>firsttonechinese</key>
    <string>firsttonechinese.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>five.osf</key>
    <string>five.osf.glif</string>
    <key>five.tf</key>
    <string>five.tf.glif</string>
    <key>five.tosf</key>
    <string>five.tosf.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>fl.ss01</key>
    <string>fl.ss01.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.dnom</key>
    <string>four.dnom.glif</string>
    <key>four.osf</key>
    <string>four.osf.glif</string>
    <key>four.tf</key>
    <string>four.tf.glif</string>
    <key>four.tosf</key>
    <string>four.tosf.glif</string>
    <key>fourthtonechinese</key>
    <string>fourthtonechinese.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.sc</key>
    <string>g.sc.glif</string>
    <key>g.sc.ss01</key>
    <string>g.sc.ss01.glif</string>
    <key>ge-cy</key>
    <string>ge-cy.glif</string>
    <key>ge-cy.loclBGR</key>
    <string>ge-cy.loclB_G_R_.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>germandbls.sc</key>
    <string>germandbls.sc.glif</string>
    <key>ghemiddlehook-cy</key>
    <string>ghemiddlehook-cy.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>gravecomb.loclVIET</key>
    <string>gravecomb.loclV_I_E_T_.glif</string>
    <key>gravecomb_macroncomb</key>
    <string>gravecomb_macroncomb.glif</string>
    <key>gravecomb_macroncomb.case</key>
    <string>gravecomb_macroncomb.case.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>gstroke</key>
    <string>gstroke.glif</string>
    <key>gstroke.sc</key>
    <string>gstroke.sc.glif</string>
    <key>gstroke.sc.ss01</key>
    <string>gstroke.sc.ss01.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>guarani.BRACKET.170</key>
    <string>guarani.B_R_A_C_K_E_T_.170.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guillemetleft.case</key>
    <string>guillemetleft.case.glif</string>
    <key>guillemetleft.sc</key>
    <string>guillemetleft.sc.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guillemetright.case</key>
    <string>guillemetright.case.glif</string>
    <key>guillemetright.sc</key>
    <string>guillemetright.sc.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglleft.case</key>
    <string>guilsinglleft.case.glif</string>
    <key>guilsinglleft.sc</key>
    <string>guilsinglleft.sc.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>guilsinglright.case</key>
    <string>guilsinglright.case.glif</string>
    <key>guilsinglright.sc</key>
    <string>guilsinglright.sc.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.sc</key>
    <string>h.sc.glif</string>
    <key>haabkhasian-cy</key>
    <string>haabkhasian-cy.glif</string>
    <key>hahook-cy</key>
    <string>hahook-cy.glif</string>
    <key>hardsign-cy</key>
    <string>hardsign-cy.glif</string>
    <key>hardsign-cy.loclBGR</key>
    <string>hardsign-cy.loclB_G_R_.glif</string>
    <key>hardsign-cy.ss01</key>
    <string>hardsign-cy.ss01.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hookabovecomb.case</key>
    <string>hookabovecomb.case.glif</string>
    <key>hookabovecomb.loclVIET</key>
    <string>hookabovecomb.loclV_I_E_T_.glif</string>
    <key>horizontalbar</key>
    <string>horizontalbar.glif</string>
    <key>horncomb</key>
    <string>horncomb.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>hungarumlautcomb.case</key>
    <string>hungarumlautcomb.case.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphen.case</key>
    <string>hyphen.case.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.sc</key>
    <string>i.sc.glif</string>
    <key>i.sc.ss01</key>
    <string>i.sc.ss01.glif</string>
    <key>ia-cy</key>
    <string>ia-cy.glif</string>
    <key>iacute_j.loclNLD</key>
    <string>iacute_j.loclN_L_D_.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>idotless.sc</key>
    <string>idotless.sc.glif</string>
    <key>idotless.sc.ss01</key>
    <string>idotless.sc.ss01.glif</string>
    <key>ii-cy</key>
    <string>ii-cy.glif</string>
    <key>iishorttail-cy</key>
    <string>iishorttail-cy.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>ij.sc</key>
    <string>ij.sc.glif</string>
    <key>ij.sc.ss01</key>
    <string>ij.sc.ss01.glif</string>
    <key>increment</key>
    <string>increment.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>iu-cy</key>
    <string>iu-cy.glif</string>
    <key>iu-cy.loclBGR</key>
    <string>iu-cy.loclB_G_R_.glif</string>
    <key>izhitsa-cy</key>
    <string>izhitsa-cy.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>j.sc</key>
    <string>j.sc.glif</string>
    <key>j.sc.ss01</key>
    <string>j.sc.ss01.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.sc</key>
    <string>k.sc.glif</string>
    <key>ka-cy</key>
    <string>ka-cy.glif</string>
    <key>ka-cy.loclBGR</key>
    <string>ka-cy.loclB_G_R_.glif</string>
    <key>kabashkir-cy</key>
    <string>kabashkir-cy.glif</string>
    <key>kahook-cy</key>
    <string>kahook-cy.glif</string>
    <key>kastroke-cy</key>
    <string>kastroke-cy.glif</string>
    <key>kaverticalstroke-cy</key>
    <string>kaverticalstroke-cy.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>kgreenlandic.sc</key>
    <string>kgreenlandic.sc.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.sc</key>
    <string>l.sc.glif</string>
    <key>l.ss01</key>
    <string>l.ss01.glif</string>
    <key>leftArrow</key>
    <string>leftA_rrow.glif</string>
    <key>leftArrow.case</key>
    <string>leftA_rrow.case.glif</string>
    <key>leftBlackTriangle</key>
    <string>leftB_lackT_riangle.glif</string>
    <key>leftRightArrow</key>
    <string>leftR_ightA_rrow.glif</string>
    <key>leftWhiteTriangle</key>
    <string>leftW_hiteT_riangle.glif</string>
    <key>leftanglebracket-math</key>
    <string>leftanglebracket-math.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>literSign</key>
    <string>literS_ign.glif</string>
    <key>lje-cy</key>
    <string>lje-cy.glif</string>
    <key>lje-cy.ss01</key>
    <string>lje-cy.ss01.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>longs</key>
    <string>longs.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>lslash.ss01</key>
    <string>lslash.ss01.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.sc</key>
    <string>m.sc.glif</string>
    <key>m.sc.ss01</key>
    <string>m.sc.ss01.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macronbelowcomb</key>
    <string>macronbelowcomb.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>macroncomb.case</key>
    <string>macroncomb.case.glif</string>
    <key>macroncomb.loclVIET</key>
    <string>macroncomb.loclV_I_E_T_.glif</string>
    <key>macroncomb.narrow</key>
    <string>macroncomb.narrow.glif</string>
    <key>macroncomb.narrow.case</key>
    <string>macroncomb.narrow.case.glif</string>
    <key>macroncomb_acutecomb</key>
    <string>macroncomb_acutecomb.glif</string>
    <key>macroncomb_acutecomb.case</key>
    <string>macroncomb_acutecomb.case.glif</string>
    <key>macroncomb_dieresiscomb</key>
    <string>macroncomb_dieresiscomb.glif</string>
    <key>macroncomb_dieresiscomb.case</key>
    <string>macroncomb_dieresiscomb.case.glif</string>
    <key>macroncomb_gravecomb</key>
    <string>macroncomb_gravecomb.glif</string>
    <key>macroncomb_gravecomb.case</key>
    <string>macroncomb_gravecomb.case.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.sc</key>
    <string>n.sc.glif</string>
    <key>n.sc.ss01</key>
    <string>n.sc.ss01.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>naira.BRACKET.120</key>
    <string>naira.B_R_A_C_K_E_T_.120.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.dnom</key>
    <string>nine.dnom.glif</string>
    <key>nine.osf</key>
    <string>nine.osf.glif</string>
    <key>nine.tf</key>
    <string>nine.tf.glif</string>
    <key>nine.tosf</key>
    <string>nine.tosf.glif</string>
    <key>nje-cy</key>
    <string>nje-cy.glif</string>
    <key>nje-cy.ss01</key>
    <string>nje-cy.ss01.glif</string>
    <key>northEastArrow</key>
    <string>northE_astA_rrow.glif</string>
    <key>northWestArrow</key>
    <string>northW_estA_rrow.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>numero.ss01</key>
    <string>numero.ss01.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.sc</key>
    <string>o.sc.glif</string>
    <key>obarred-cy</key>
    <string>obarred-cy.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>oe.sc</key>
    <string>oe.sc.glif</string>
    <key>oe.ss01</key>
    <string>oe.ss01.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>ogonekcomb.i</key>
    <string>ogonekcomb.i.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>ohorn.sc</key>
    <string>ohorn.sc.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.dnom</key>
    <string>one.dnom.glif</string>
    <key>one.osf</key>
    <string>one.osf.glif</string>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>one.tosf</key>
    <string>one.tosf.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>oogonek.sc</key>
    <string>oogonek.sc.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>oslash.sc</key>
    <string>oslash.sc.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.sc</key>
    <string>p.sc.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenleft.case</key>
    <string>parenleft.case.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>parenright.case</key>
    <string>parenright.case.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>pe-cy</key>
    <string>pe-cy.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>period.sc</key>
    <string>period.sc.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>periodcentered.case</key>
    <string>periodcentered.case.glif</string>
    <key>periodcentered.loclCAT</key>
    <string>periodcentered.loclC_A_T_.glif</string>
    <key>periodcentered.loclCAT.case</key>
    <string>periodcentered.loclC_A_T_.case.glif</string>
    <key>periodcentered.loclCAT.sc</key>
    <string>periodcentered.loclC_A_T_.sc.glif</string>
    <key>periodcentered.sc</key>
    <string>periodcentered.sc.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>peso.BRACKET.130</key>
    <string>peso.B_R_A_C_K_E_T_.130.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>prime</key>
    <string>prime.glif</string>
    <key>primemod</key>
    <string>primemod.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>q.sc</key>
    <string>q.sc.glif</string>
    <key>q.sc.ss01</key>
    <string>q.sc.ss01.glif</string>
    <key>q.sc.ss01.BRACKET.170</key>
    <string>q.sc.ss01.B_R_A_C_K_E_T_.170.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question.sc</key>
    <string>question.sc.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>questiondown.sc</key>
    <string>questiondown.sc.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedbl.sc</key>
    <string>quotedbl.sc.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblbase.sc</key>
    <string>quotedblbase.sc.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblleft.sc</key>
    <string>quotedblleft.sc.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quotedblright.sc</key>
    <string>quotedblright.sc.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteleft.sc</key>
    <string>quoteleft.sc.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quoteright.sc</key>
    <string>quoteright.sc.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesinglbase.sc</key>
    <string>quotesinglbase.sc.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>quotesingle.sc</key>
    <string>quotesingle.sc.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.sc</key>
    <string>r.sc.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>reversedze-cy</key>
    <string>reversedze-cy.glif</string>
    <key>rightArrow</key>
    <string>rightA_rrow.glif</string>
    <key>rightArrow.case</key>
    <string>rightA_rrow.case.glif</string>
    <key>rightBlackTriangle</key>
    <string>rightB_lackT_riangle.glif</string>
    <key>rightWhiteTriangle</key>
    <string>rightW_hiteT_riangle.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ringcomb_acutecomb</key>
    <string>ringcomb_acutecomb.glif</string>
    <key>ringhalfleft</key>
    <string>ringhalfleft.glif</string>
    <key>ringhalfright</key>
    <string>ringhalfright.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.sc</key>
    <string>s.sc.glif</string>
    <key>saltillo</key>
    <string>saltillo.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>schwa.sc</key>
    <string>schwa.sc.glif</string>
    <key>schwa.sc.ss01</key>
    <string>schwa.sc.ss01.glif</string>
    <key>schwa.ss01</key>
    <string>schwa.ss01.glif</string>
    <key>second</key>
    <string>second.glif</string>
    <key>secondtonechinese</key>
    <string>secondtonechinese.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>semisoftsign-cy</key>
    <string>semisoftsign-cy.glif</string>
    <key>semisoftsign-cy.ss01</key>
    <string>semisoftsign-cy.ss01.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.dnom</key>
    <string>seven.dnom.glif</string>
    <key>seven.osf</key>
    <string>seven.osf.glif</string>
    <key>seven.tf</key>
    <string>seven.tf.glif</string>
    <key>seven.tosf</key>
    <string>seven.tosf.glif</string>
    <key>sha-cy.loclBGR</key>
    <string>sha-cy.loclB_G_R_.glif</string>
    <key>shcha-cy</key>
    <string>shcha-cy.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.dnom</key>
    <string>six.dnom.glif</string>
    <key>six.osf</key>
    <string>six.osf.glif</string>
    <key>six.tf</key>
    <string>six.tf.glif</string>
    <key>six.tosf</key>
    <string>six.tosf.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>slash.case</key>
    <string>slash.case.glif</string>
    <key>slashlongcomb</key>
    <string>slashlongcomb.glif</string>
    <key>slashlongcomb.case</key>
    <string>slashlongcomb.case.glif</string>
    <key>slashlongcomb.sc</key>
    <string>slashlongcomb.sc.glif</string>
    <key>slashshortcomb</key>
    <string>slashshortcomb.glif</string>
    <key>slashshortcomb.case</key>
    <string>slashshortcomb.case.glif</string>
    <key>softhyphen</key>
    <string>softhyphen.glif</string>
    <key>softsign-cy</key>
    <string>softsign-cy.glif</string>
    <key>softsign-cy.loclBGR</key>
    <string>softsign-cy.loclB_G_R_.glif</string>
    <key>softsign-cy.ss01</key>
    <string>softsign-cy.ss01.glif</string>
    <key>southEastArrow</key>
    <string>southE_astA_rrow.glif</string>
    <key>southWestArrow</key>
    <string>southW_estA_rrow.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>strokelongcomb</key>
    <string>strokelongcomb.glif</string>
    <key>strokelongcomb.sc</key>
    <string>strokelongcomb.sc.glif</string>
    <key>strokeshortcomb</key>
    <string>strokeshortcomb.glif</string>
    <key>strokeshortcomb.case</key>
    <string>strokeshortcomb.case.glif</string>
    <key>strokeshortcomb.sc</key>
    <string>strokeshortcomb.sc.glif</string>
    <key>strokeshortcomb.t</key>
    <string>strokeshortcomb.t.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.sc</key>
    <string>t.sc.glif</string>
    <key>t.sc.ss01</key>
    <string>t.sc.ss01.glif</string>
    <key>t.ss01</key>
    <string>t.ss01.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>tbar.ss01</key>
    <string>tbar.ss01.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>thorn.sc</key>
    <string>thorn.sc.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.dnom</key>
    <string>three.dnom.glif</string>
    <key>three.osf</key>
    <string>three.osf.glif</string>
    <key>three.tf</key>
    <string>three.tf.glif</string>
    <key>three.tosf</key>
    <string>three.tosf.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>tildecomb.loclVIET</key>
    <string>tildecomb.loclV_I_E_T_.glif</string>
    <key>tildecomb.narrow</key>
    <string>tildecomb.narrow.glif</string>
    <key>tildecomb_acutecomb</key>
    <string>tildecomb_acutecomb.glif</string>
    <key>tildecomb_acutecomb.case</key>
    <string>tildecomb_acutecomb.case.glif</string>
    <key>tildecomb_dieresiscomb</key>
    <string>tildecomb_dieresiscomb.glif</string>
    <key>tildecomb_dieresiscomb.case</key>
    <string>tildecomb_dieresiscomb.case.glif</string>
    <key>tildecomb_macroncomb</key>
    <string>tildecomb_macroncomb.glif</string>
    <key>tildecomb_macroncomb.case</key>
    <string>tildecomb_macroncomb.case.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>tse-cy</key>
    <string>tse-cy.glif</string>
    <key>tugrik</key>
    <string>tugrik.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.dnom</key>
    <string>two.dnom.glif</string>
    <key>two.osf</key>
    <string>two.osf.glif</string>
    <key>two.tf</key>
    <string>two.tf.glif</string>
    <key>two.tosf</key>
    <string>two.tosf.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.sc</key>
    <string>u.sc.glif</string>
    <key>u.sc.ss01</key>
    <string>u.sc.ss01.glif</string>
    <key>u.ss01</key>
    <string>u.ss01.glif</string>
    <key>udieresis.sc.alt</key>
    <string>udieresis.sc.alt.glif</string>
    <key>udieresis.sc.alt.BRACKET.133</key>
    <string>udieresis.sc.alt.B_R_A_C_K_E_T_.133.glif</string>
    <key>udieresis.sc.ss01.alt</key>
    <string>udieresis.sc.ss01.alt.glif</string>
    <key>udieresis.sc.ss01.alt.BRACKET.133</key>
    <string>udieresis.sc.ss01.alt.B_R_A_C_K_E_T_.133.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uhorn.sc</key>
    <string>uhorn.sc.glif</string>
    <key>uhorn.sc.ss01</key>
    <string>uhorn.sc.ss01.glif</string>
    <key>uhorn.ss01</key>
    <string>uhorn.ss01.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>uogonek.sc</key>
    <string>uogonek.sc.glif</string>
    <key>uogonek.sc.ss01</key>
    <string>uogonek.sc.ss01.glif</string>
    <key>upArrow</key>
    <string>upA_rrow.glif</string>
    <key>upArrow.case</key>
    <string>upA_rrow.case.glif</string>
    <key>upBlackTriangle</key>
    <string>upB_lackT_riangle.glif</string>
    <key>upDownArrow</key>
    <string>upD_ownA_rrow.glif</string>
    <key>upWhiteTriangle</key>
    <string>upW_hiteT_riangle.glif</string>
    <key>ustrait-cy</key>
    <string>ustrait-cy.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>v.sc</key>
    <string>v.sc.glif</string>
    <key>ve-cy</key>
    <string>ve-cy.glif</string>
    <key>ve-cy.loclBGR</key>
    <string>ve-cy.loclB_G_R_.glif</string>
    <key>verticallinelowmod</key>
    <string>verticallinelowmod.glif</string>
    <key>verticallinelowmodcomb</key>
    <string>verticallinelowmodcomb.glif</string>
    <key>verticallinemod</key>
    <string>verticallinemod.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w.sc.ss01</key>
    <string>w.sc.ss01.glif</string>
    <key>w.ss01</key>
    <string>w.ss01.glif</string>
    <key>we-cy</key>
    <string>we-cy.glif</string>
    <key>whiteDiamond</key>
    <string>whiteD_iamond.glif</string>
    <key>whiteSquare</key>
    <string>whiteS_quare.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>won.BRACKET.130</key>
    <string>won.B_R_A_C_K_E_T_.130.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x.sc</key>
    <string>x.sc.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.sc</key>
    <string>y.sc.glif</string>
    <key>y.sc.ss01</key>
    <string>y.sc.ss01.glif</string>
    <key>y.ss01</key>
    <string>y.ss01.glif</string>
    <key>yat-cy</key>
    <string>yat-cy.glif</string>
    <key>yat-cy.ss01</key>
    <string>yat-cy.ss01.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yeru-cy</key>
    <string>yeru-cy.glif</string>
    <key>yeru-cy.ss01</key>
    <string>yeru-cy.ss01.glif</string>
    <key>yusbig-cy</key>
    <string>yusbig-cy.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>z.sc</key>
    <string>z.sc.glif</string>
    <key>z.sc.ss01</key>
    <string>z.sc.ss01.glif</string>
    <key>z.ss01</key>
    <string>z.ss01.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
    <key>ze-cy.loclBGR</key>
    <string>ze-cy.loclB_G_R_.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.dnom</key>
    <string>zero.dnom.glif</string>
    <key>zero.osf</key>
    <string>zero.osf.glif</string>
    <key>zero.tf</key>
    <string>zero.tf.glif</string>
    <key>zero.tosf</key>
    <string>zero.tosf.glif</string>
    <key>zhe-cy</key>
    <string>zhe-cy.glif</string>
    <key>zhe-cy.loclBGR</key>
    <string>zhe-cy.loclB_G_R_.glif</string>
  </dict>
</plist>
