<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7625ADFF-5EA3-45E9-866F-B8709C2CDE52</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.reversedze-cy</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
