<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9EF09C39-F1AE-48D0-887B-44674952E978</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.De-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.De-cy.ss01</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
