<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>W.ss01</key>
    <string>W_.ss01.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>e.ss01</key>
    <string>e.ss01.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>eogonek.ss01</key>
    <string>eogonek.ss01.glif</string>
    <key>m.sc.ss01</key>
    <string>m.sc.ss01.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w.sc.ss01</key>
    <string>w.sc.ss01.glif</string>
    <key>w.ss01</key>
    <string>w.ss01.glif</string>
  </dict>
</plist>
