<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>21D34B0E-E3F5-415F-8391-A29EF0ACE83B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.w.ss01</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
