<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3AE512B8-EF81-464E-93C6-612CE5D68C05</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy.loclBGR</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy.ss01</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
