<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4DDA0A30-E23F-47B5-BEFD-C33548E45B6A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Haabkhasian-cy</key>
      <integer>31</integer>
    </dict>
  </dict>
</plist>
