<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>60DB5FB8-AE13-4713-A6A2-201973EDD5A8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.reversedze-cy</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
