<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7728DDD9-2568-4AFA-AE5F-42EFA42041C2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hahook-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
