<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B5D19D68-E699-47BA-A2AA-DE327AEC419B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy.ss01</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
