<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D190D500-2127-4BC5-AE3A-26AAEFA45F0E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Gestrokehook-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ghestroke-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
