<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1E5A8BDD-AE9A-4AA9-BC2D-6A7F71A805D3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.gstroke</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
