<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DD14FE29-E524-4DB7-A301-5047F2D0911D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Haabkhasian-cy</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
