<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4DC6DD89-9298-4C86-8940-35273D752E59</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.De-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.De-cy.ss01</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
