<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>50FF393E-E0C2-4E26-A7E5-27FAC15DB0A2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Izhitsa-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
