<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>742</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>copyright</key>
    <string>Copyright 2011 The Montserrat Project Authors (https://github.com/JulietaUla/Montserrat)</string>
    <key>descender</key>
    <integer>-194</integer>
    <key>familyName</key>
    <string>Montserrat</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>314</integer>
        <key>y</key>
        <integer>609</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>395</integer>
        <key>y</key>
        <integer>716</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>398</integer>
        <key>y</key>
        <integer>742</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2017/10/17 18:36:54</string>
    <key>openTypeHheaAscender</key>
    <integer>968</integer>
    <key>openTypeHheaDescender</key>
    <integer>-251</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Julieta Ulanovsky</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.zkysky.com.ar/</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Julieta Ulanovsky</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.zkysky.com.ar/</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>968</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-251</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>ULA</string>
    <key>openTypeOS2WinAscent</key>
    <integer>1109</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>270</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-16</integer>
      <integer>0</integer>
      <integer>547</integer>
      <integer>563</integer>
      <integer>582</integer>
      <integer>598</integer>
      <integer>600</integer>
      <integer>616</integer>
      <integer>700</integer>
      <integer>716</integer>
      <integer>742</integer>
      <integer>758</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-210</integer>
      <integer>-194</integer>
      <integer>-116</integer>
      <integer>-100</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>194</integer>
      <integer>190</integer>
      <integer>176</integer>
      <integer>165</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>236</integer>
      <integer>226</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>Black</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>7</integer>
    <key>versionMinor</key>
    <integer>200</integer>
    <key>xHeight</key>
    <integer>547</integer>
  </dict>
</plist>
