<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A2ABD3F6-8A23-4650-BA12-166411596547</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kahook-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
