<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>18EFC886-4E8A-4013-8AF3-AFFCC60E9855</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ghemiddlehook-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
