name: Build font and specimen

on: [push]

jobs:
  font-render:
    runs-on: ubuntu-latest
    name: Diff fonts against Google Fonts
    steps:
      - uses: actions/checkout@v2
      - uses: f-actions/diffenator2@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path: "./fonts/ttf/*.ttf"
          fetch-before: "googlefonts"
          path-before: "*.ttf"
          run-diffenator: true
          run-diffbrowsers: true
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Linux dependencies
        run: |
          sudo snap install yq
      - name: Build font
        run: make build
      - name: Check with fontbakery
        run: make test
        continue-on-error: true
      - name: Archive artifacts
        uses: actions/upload-artifact@v2
        with:
          name: Artifacts
          path: |
            fontbakery
      - name: Remove temp folder
        run: |
          rm -rf fontbakery
