<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9EC58784-03F3-4425-AFE7-5087996AA7CE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.M.ss01</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W.ss01</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e.ss01</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek.ss01</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.sc.ss01</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oe</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w.sc.ss01</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w.ss01</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
